---
layout: default
---
    <link rel="stylesheet" type="text/css" media="screen" href="../stylesheets/stylesheet.css">
<div id="main_content_wrap" class="outer">
<section id="main_content" class="inner">
<article class="post">
  <h1>{{ page.title }}</h1>
  Tags: {{page.tags | array_to_sentence_string}} <br />
  Personhours: {{page.personhours}}
  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html disqus_identifier=page.disqus_identifier %}
</article>
</section>
</div>